<div class="container-fluid">
  <h1>Agile Manifest</h1>
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-1">

    <ngb-panel >
      <ng-template ngbPanelTitle>
        <div class="container-fluid text-left p-0">
          <div>Die Bezeichnung agil wurde im Februar 2001 bei einem Treffen in Utah auf Vorschlag von Mike Beedle ausgewählt, als Ersatz für das bis dahin gebräuchliche leichtgewichtig (engl. lightweight). Bei diesem Treffen wurde auch das Agile Manifest (siehe unten) formuliert.</div>
          <span class="small font-italic"><a href="https://de.wikipedia.org/wiki/Agile_Softwareentwicklung" target="empty">Wikipedia: Agile Softwareentwicklung</a></span>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="embed-responsive embed-responsive-16by9 p-0">
          <iframe class="embed-responsive-item" src="https://agilemanifesto.org/iso/de/manifesto.html" allowfullscreen></iframe>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <div class="container-fluid text-left p-0">
          <div>How Agile ist your environment?</div>
          <sub>How Agile are you?</sub>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-prio-form [items]="items" (onPrioChanged)="onPrioChanged($event)"></app-prio-form>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <div *ngIf="prio.length == 0" class="alert alert-secondary">
      <span class="font-italic text-muted">Please rate your Agility first!</span>
  </div>
  <div *ngIf="prio.length > 0" class="alert alert-secondary">
    <div echarts [options]="options" class="demo-chart"></div>
  </div>
</div>
