<div *ngIf="symptome.length && ursachen.length; else NoDataAvailable">
    <div class="container-fluid p-0">
      <div class="d-flex flex-row pb-4 pt-4">
        <div class="d-flex flex-grow-1">
          <select class="form-control" [(ngModel)]="date">
            <option *ngFor="let item of T">{{item}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12 col-md-6 p-0 pr-md-2 mb-md-2">
        <div class="card">
          <div class="card-header bg-dark text-light">
            <h5>Sympthome</h5>
            <div class="small">Sympthome für Mitarbeiter Stress (<b class="font-italic">Mittelwert</b>).</div>
          </div>
          <div class="card-body p-2">
            <app-prio-series [prio]="prio_A" [T]="T" [date]="date" (onTimeLineChanged)="handleTimeLineChnaged($event)"></app-prio-series>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 p-0 pl-md-2">
        <div class="card">
          <div class="card-header bg-dark text-light">
            <h5>Ursachen</h5>
            <div class="small">Quellen von Mitarbeiter Stress (<b class="font-italic">Mittelwert</b>).</div>
          </div>
          <div class="card-body p-2">
            <app-prio-series [prio]="prio_B" [T]="T" [date]="date"  (onTimeLineChanged)="handleTimeLineChnaged($event)"></app-prio-series>
          </div>
        </div>
      </div>
    </div>
</div>
<ng-template #NoDataAvailable>
  <div class="alert alert-warning mt-3">
    <h3>Keine Daten vorhanden</h3>
  </div>
</ng-template>
