<div>


  <div class="row">
    <div class="col-sm-6 col-12 text-center">
      <div>
        <app-pm-health-weight-gauge [value]="SUM_SUCCESS" [color]="'success'"></app-pm-health-weight-gauge>
      </div>
      <h2 class="text-success">Erfolg</h2>
      <div class="small">{{SUM_SUCCESS}} of {{range[0]}}</div>
    </div>
    <div class="col-sm-6 col-12 text-center">
      <div>
        <app-pm-health-weight-gauge [value]="SUM_FAIL" [color]="'danger'"></app-pm-health-weight-gauge>
      </div>
      <h2 class="text-warning">Misserfolg</h2>
      <div class="small">{{SUM_FAIL}} of {{range[1]}}</div>
    </div>
  </div>
</div>
