<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div><h5>Unternehmens Profil</h5></div>
  <hr>
  <div class="form-group form-row">
    <div class="col-2"><b>ID:</b></div>
    <div class="col-10">{{item?.id}}</div>
  </div>
  <div class="form-group  form-row pt-2">
    <div class="col-2"><b>Name</b></div>
    <div class="col-10"><input class="form-control" type="text" [value]="item?.name" [formControlName]="'name'" placeholder="Wie lautet ihr Firmenname?"></div>
  </div>
  <div class="form-group form-row pt-2">
    <div class="col-2"><b>Description</b></div>
    <div class="col-10"><textarea class="form-control" type="text" [value]="item?.description" rows="5" [formControlName]="'description'" placeholder="Beschreiben Sie kurz ihr Unternehmen."></textarea></div>
  </div>
  <div class="form-row pt-2">
    <button class="offset-2 col-3 form-control btn btn-sm btn-info" type="submit">Save</button>
  </div>
</form>
