<div class="container-fluid">
  <div class="row">
    <div class="col-3 p-0 d-flex flex-column text-info">
      <div class="alert p-2" [ngClass]="{'alert-success': isCorrelationNone(links[0].cor) || isCorrelationS(links[0].cor), 'alert-warning': isCorrelationM(links[0].cor), 'alert-danger': isCorrelationL(links[0].cor)}">
        <div class="d-flex flex-row">
          <div *ngIf="isCorrelationNone(links[0].cor) || isCorrelationS(links[0].cor)">
            <h5>Keine Zusammenhänge festgestellt.</h5>
            <small class="small">Alles in Ordnung!</small>
          </div>
          <div *ngIf="isCorrelationM(links[0].cor)">
            <h5>Es gibt Anzeichen für Zusammenhänge.</h5>
            <small class="small">Seien Sie Achtsam!</small>
          </div>
          <div *ngIf="isCorrelationL(links[0].cor)">
            <h5>Zusammenhänge festgestellt.</h5>
            <small class="small">Das sollten Sie sich ansehen!</small>
          </div>
          <div class="d-flex flex-row ml-4 ml-auto text-secondary">
            <h1 class="mb-1">
              <fa-icon *ngIf="isCorrelationNone(links[0].cor) || isCorrelationS(links[0].cor); else emptyCirle" [icon]="['fas', 'check-circle']" class="text-success"></fa-icon>
            </h1>
            <h1 class="mb-1">
              <fa-icon *ngIf="isCorrelationM(links[0].cor); else emptyCirle" [icon]="['fas', 'exclamation-circle']" class="text-warning"></fa-icon>
            </h1>
            <h1 class="mb-1">
              <fa-icon *ngIf="isCorrelationL(links[0].cor); else emptyCirle" [icon]="['fas', 'ban']" class="text-danger"></fa-icon>
            </h1>
            <ng-template #emptyCirle><fa-icon [icon]="['far', 'circle']"></fa-icon></ng-template>
          </div>
        </div>
      </div>
      <div class="d-flex flex-grow-1">

      </div>
      <div>
        <h3>Top 5 - Korrelationen</h3>
        <div *ngFor="let link of links | slice:0:5; index as i" class="card mb-2 p-2">
          <div class="d-flex flex-row align-items-center">
            <h4 class="m-0">
              <span class="badge badge-dark d-inline">{{i+1}}</span>
              &nbsp;{{link.source}}&nbsp;--&nbsp;{{link.target}}
            </h4>
            <div class="ml-auto">
              <span class="badge badge-dark badge-pill">{{link.cor}}</span>
            </div>
          </div>
          <div class="mt-2 text-right">
            <span *ngIf="isCorrelationNone(link.cor)" class="font-italic ml-auto">&nbsp;Keine Korrelation</span>
            <span *ngIf="isCorrelationS(link.cor)" class="font-italic ml-auto">&nbsp;Geringe Korrelation</span>
            <span *ngIf="isCorrelationM(link.cor)" class="font-italic ml-auto">&nbsp;Mittlere Korrelation</span>
            <span *ngIf="isCorrelationL(link.cor)" class="font-italic ml-auto">&nbsp;Hohe Korrelation</span>
          </div>
        </div>
      </div>
      <div class="d-flex flex-grow-1">

      </div>
      <div>
        <small class="font-italic small text-secondary">
          <div>Geringe Korrelation: >= 0.1 und <= 0.3</div>
          <div>Mittlere Korrelation: >= 0.3 und <= 0.5</div>
          <div>Hohe Korrelation: >= 0.5 und <= 1</div>
        </small>
      </div>
    </div>
    <div class="col-9 p-0">
      <app-prio-correlation-sankey *ngIf="data.length" [data]="data" [links]="links"></app-prio-correlation-sankey>
    </div>
  </div>
</div>
