<div>
  <div *ngIf="key.length == 0; else view">Nothing Selected</div>
  <ng-template #view>
    <span *ngIf="mode=='VIEW'" class="float-right" (click)="mode='EDIT'">edit</span>
    <span *ngIf="mode=='EDIT'" class="float-right" (click)="mode='VIEW'">view</span>
    <b>Key: </b>{{key}}
    <ng-container [ngSwitch]="mode">
      <div *ngSwitchCase="'EDIT'">
        EDIT
      </div>
      <div *ngSwitchDefault class="container-fluid p-0">
        <div class="card">
          <div class="card-header">
              <div><label class="font-weight-bold">Name:&nbsp;</label>{{poll?.name}}</div>
              <sup>Description</sup>
          </div>
          <div class="card-body p-2">
            <div class="d-flex flex-row">
              <div class="flex-grow-70 mr-2">
                <div class="card">
                  <div class="card-header">
                    <div class="font-weight-bold">Items</div>
                  </div>
                </div>
                <div class="card-body p-0">
                  <ul *ngIf="poll?.items?.length; else empty" class="list-group">
                    <li *ngFor="let item of poll?.items; index as i" class="list-group-item"><b>{{i}}</b>&nbsp;{{item}}</li>
                  </ul>
                </div>
              </div>
              <div class="flex-grow-30">
                <div class="card">
                  <div class="card-header">
                    <div class="font-weight-bold">Members</div>
                  </div>
                  <div class="card-body p-0">
                    <ul *ngIf="poll?.members?.length; else empty" class="list-group">
                      <li *ngFor="let item of poll?.members" class="list-group-item">&nbsp;{{item}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-2">
              <div class="card">
                <div class="card-header">
                  <div class="font-weight-bold">Priority</div>
                </div>
                <div class="card-body">
                  Empty
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>
</div>

<ng-template #empty>Empty</ng-template>
