<div class="card">
  <div class="card-header bg-dark">
    <div class="align-self-center">
      <ngb-pagination [collectionSize]="4" [(page)]="page" [pageSize]="1" class="align-self-center">
        <ng-template ngbPaginationNumber let-p>{{ getPageSymbol(p) }}</ng-template>
      </ngb-pagination>
    </div>
  </div>
  <div class="card-body" *ngIf="page==1">
    <markdown  class="variable-binding" [data]="description"></markdown>
    <button class="btn btn-info" (click)="page=2">Start</button>
  </div>
  <div *ngFor="let item of items; index as i" class="card-body p-2" [class.d-none]="i + 2 !== page">
    <div>
      <markdown  class="variable-binding" [data]="item.label"></markdown>
    </div>
    <div>
      <app-prio-const-sum [items]="item.items" [maxSum]="item.constSum" (onPrioChanged)="handlePrioChanged($event, i)"></app-prio-const-sum>
    </div>
  </div>
  <div class="card-body" *ngIf="page==4">
    <div *ngIf="prio.length < 2" cass="card-body">
      <div class="alert alert-warning">
        Bitte schließe alle Formulare ab!<br>Erst dann können wir dir deine Auswertung zeigen.
      </div>
    </div>
    <div *ngIf="prio.length == 2" cass="card-body">
      <div *ngFor="let item of items; index as i" class="card">
        <div class="card-header">
          <div>
            <h5>{{item.label}}</h5>
          </div>
          <div *ngif="item.description.length">
            {{item.description}}
          </div>
        </div>
        <div class="card-body">
          <app-prio-barchart [prio]="getPrioGraphData(i)"></app-prio-barchart>
        </div>
      </div>
    </div>
  </div>

</div>
