<div class="card">
  <div class="card-header bg-dark p-md-2">
    &nbsp;
    <div class="card-title">
      <div class="text-center text-info p-2">
        <h4 class="p-0 m-0">
          <ng-container *ngFor="let i of [1,2, 3,4]">
            <fa-icon *ngIf="page < i" class="mr-2" [icon]= "['far', 'circle']" (click)="page=i"></fa-icon>
            <fa-icon *ngIf="page >= i" class="mr-2" [icon]= "['fas', 'circle']" (click)="page=i"></fa-icon>
          </ng-container>
        </h4>
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="page==1">
    <markdown class="variable-binding" [data]="description"></markdown>
  </div>
  <div *ngFor="let item of items; index as i" class="card-body p-2" [class.d-none]="i + 2 !== page">
    <div>
      <h4 class="mb-1">{{item.label}}</h4>
    </div>
    <div>
      <markdown class="variable-binding" [data]="item.description"></markdown>
    </div>
    <div>
      <app-prio-const-sum [items]="item.items" [maxSum]="item.constSum" (onPrioChanged)="handlePrioChanged(getPageSymbol(i+2))">
      </app-prio-const-sum>
    </div>
  </div>
  <div class="card-body p-2" *ngIf="page==4">
    <div *ngIf="!PRIO_COMPLETED" cass="card-body">
      <div class="alert alert-warning">
        Bitte schließe alle Formulare ab!<br>Erst dann können wir dir deine Auswertung zeigen.
      </div>
    </div>
    <div *ngIf="PRIO_COMPLETED" cass="card-body p-2">
      <div class="alert alert-info">
        <div class="mb-4">
          Dein Unternehmen unterstützt Dich!<br><br>
          Dir stehen kostenlose, anonyme Coachings und psychologische Betreuung zur Verfügung.
        </div>
        <div class="mb-2">
          Verwende hierfür einfach deinen persönlichen Buchungscode
          <div class="input-group mt-2">
            <input type="text" class="form-control" [value]="coachingCode" #codeInput>
            <div class="input-group-append">
              <button class="btn btn-outline-info" (click)="copyCode()">COPY<fa-icon [icon]="['fas', 'copy']" class="ml-2"></fa-icon></button>
            </div>
          </div>
        </div>
        <button class="btn" (click)="openCoaching()">... und buche jetzt dein Erstgespräch</button>
      </div>
      <div *ngFor="let item of items; index as i" class="card">
        <div class="card-header">
          <div>
            <h4 class="mb-0">{{item.label}}</h4>
          </div>
        </div>
        <div class="card-body">
          <app-prio-barchart [prio]="getPrioGraphData(i)"></app-prio-barchart>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer form-row">
    <button *ngIf="page==1" class="btn btn-info col-6 col-md-12" (click)="page=2">Start</button>
    <div *ngIf="page>1 && page < 4" class="btn-group col-12">
      <button class="btn btn-info" (click)="page=page-1">Zurück</button>
      <button class="btn btn-info" (click)="page=page+1">Weiter</button>
    </div>
    <button *ngIf="page==4" class="btn btn-info col-6 col-md-12" (click)="page=3">Zurück</button>
  </div>

</div>
