<div class="card">
  <div class="card-header p-2">
    <div class="d-flex flex-row align-items-center">
      <div class="d-flex mr-auto">
        <h4 class="d-flex m-0 card-title"><b>{{title}}</b></h4>
      </div>
      <div class="d-flex">
        <div [ngbTooltip]="tipContent">
          <span class="badge badge-label" style="cursor: pointer;" [class.badge-success]="score>3" [class.badge-secondary]="score==3" [class.badge-warning]="score<3">{{getScoreLabel(score)}}</span>
          <ng-template #tipContent>Faktorstatus: <b>{{score}}</b><br><small class="font-italic">{{getScoreLabel(score)}}</small></ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="mb-2">
      <div class="container-fluid p-0">
        <div class="col-12 p-0"><b>Kriterium für Erfolg:</b></div>
        <div class="col-12 p-0"><span>{{factor_success}}</span></div>
      </div>
    </div>
    <div class="mb-2">
      <div><span class="badge badge-success mr-2">{{weight_success}} %</span><b>Erfolgsfaktor</b></div>
      <div class="d-flex flex-row">
        <div class="d-flex mr-auto">
          <div class="small">
            <b>Bewertung</b>&nbsp;{{SCORE_SUCCESS}} von {{max_success}}
          </div>
        </div>
        <div class="d-flex">
          <div class="small"><b class="mr-2">Potential</b>&nbsp;{{max_success -SCORE_SUCCESS}}</div>
        </div>
      </div>
    </div>
    <div>
      <div><span class="badge badge-warning mr-2">{{weight_fail}} %</span><b>Risikofaktor</b></div>
      <div class="d-flex flex-row">
        <div class="d-flex mr-auto">
          <div class="small"><b>Bewertung</b>&nbsp;{{SCORE_FAIL}} von {{max_fail}}</div>
        </div>
        <div class="d-flex">
          <div class="small"><b class="mr-2">Potential</b>&nbsp;{{SCORE_FAIL - max_fail}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
