<table class="table">
  <thead>
      <tr>
        <th *ngFor="let col of heading" scope="col">
          {{col}}
        </th>
      </tr>
  </thead>
  <tbody>

    <tr *ngFor="let row of rows">
      <ng-template ngFor let-col [ngForOf]="row" let-i="index">
        <td scope="row" *ngIf="i > 0; else colFirst">
          {{col}}
        </td>
        <ng-template #colFirst>
          <th scope="row">
            {{col}}
          </th>
        </ng-template>
      </ng-template>
    </tr>
  </tbody>
</table>
