<div class="row m-2">
  <div class="col-4 p-1">
    <div class="card">
      <div class="card-header">
        <div class="d-flex flex-row">
          <div class="d-flex flex-grow-1">
            <h4>Businesses</h4>
          </div>
          <div class="d-flex">
            <button clas="btn btn-dark" (click)="onNewBusiness()">NEW</button>
          </div>
        </div>

      </div>
      <div *ngIf="EMPTY; then NoBusinesses else BusinessList" class="card-body"></div>
      <ng-template #BusinessList>
        <div class="card-body p-0">
          <app-business-listgroup-item  *ngFor="let item of BusinessItems; index as i" [item]="item" (click)="onSelectBusiness(i)"></app-business-listgroup-item>
        </div>
      </ng-template>
      <ng-template #NoBusinesses>
        <div class="card-body">
          <div class="alert alert-info">Aktuell gibt es keine Kundenkontakte.</div>
        </div>
      </ng-template>

    </div>

  </div>
  <div class="col-8 p-1">
    <div class="card">
      <div class="card-header text-secondary">
        <div *ngIf="selected; then SelectedInfo else NothingSelected"></div>
        <ng-template #NothingSelected>
          <h4>Please Select a Business</h4>
        </ng-template>
        <ng-template #SelectedInfo>
          <div>
            <h4 *ngIf="selected && selected.name.length > 0" >{{selected?.name}}</h4>
            <h4 *ngIf="selected && selected.name.length == 0" >NEW</h4>
          </div>
          <div><small>{{selected?.description}}</small></div>
        </ng-template>
      </div>
      <div *ngIf="selected" class="card-body">
        <app-business-edit-form [item]="selected" (onSaved)="onSaved($event)"></app-business-edit-form>
      </div>
    </div>
  </div>
</div>
